.qrCodeContainer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.qrCode {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.qrImage {
    width: 120px;
    height: 120px;
}

.qrLabel {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--color-gray);
    text-transform: capitalize;
}

.operations {
    display: flex;
    gap: 16px;
}

.icon {
    width: 80px;
    height: 80px;
}

@media (max-width: 1024px) {
    .qrCodeContainer {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .qrCodeContainer {
        flex-direction: column;
        gap: 32px;
    }

    .qrImage {
        width: 100px;
        height: 100px;
    }

    .qrLabel {
        font-size: 16px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }
}