.button {
    /*font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;*/
    font-weight: 600;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.button:hover {
    transform: translateY(-1px);
}

.button:active {
    transform: translateY(0);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.primary {
    background: linear-gradient(276.71deg, #25F6FF -15.41%, #7782FF 52.42%, #FF5196 107.79%);
    color: #ffffff;
}

.primary:hover {
    background-color: #1d4ed8;
}

.secondary {
    background-color: #263238;
    color: #ffffff;
}

.secondary:hover {
    background-color: #4b5563;
}
.gray {
    background-color: #F3F3F3;
    color: #263238;
}
.gray:hover {
    background-color: #4b5563;
}
.white{
    background-color: #E1E1E1;
    color: #263238;
}
.white:hover {
    background-color: #4b5563;
}

/* Sizes */
.small {
    font-size: 0.875rem;
    padding: 0.25rem 1rem;
}

.medium {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    width: 140px;
    height: 60px;
}

.large {
    font-size: 1.25rem;
    padding: 1rem 2rem;
    width: 224px;
    height: 80px;
}