.counter {
    background-color: var(--color-white);
    padding: 48px 0;
    display: flex;
    @media (width <= 1024px) {
        max-width: fit-content;
        flex-direction: column;
        align-items: center;
        gap: 36px;
    }
}

.container {
    display: flex;
    gap: 32px;
    flex: 1;
    margin: 0 auto;
    width: 772px;
    flex-wrap: wrap;

    @media (width <= 1024px) {
        max-width: 600px;
        flex-direction: column;
    }
}

.starsContainer img {
    padding: 4px;
}

.ratingContainer {
    width: 480px;
    height: 249px;
    background: var(--color-gray-rating);
    border-radius: 32px;
    padding: 24px;
    display: flex;
    align-items: center;

    @media (width <= 1024px) {
        max-width: fit-content;
        height: fit-content;
        flex-direction: column;
    }
}

.description {
    width: 272px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
}

.descriptionText {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0;
    text-transform: capitalize;
    color: var(--color-white);
}

.item {
    display: flex;
    max-width: 340px;
    align-items: center;
    text-align: left;
}

.icon {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0;
    text-align: left;
    min-width: 148px;
    margin-right: 24px;
    text-transform: capitalize;
}

.text {
    color: var(--color-gray);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0;
    text-transform: capitalize;
    min-width: 164px;
}

.socialValue {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-gray);
}

.socialLabel {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-blue);
}
