@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Ubuntu:wght@700&display=swap');

:root {
	--container-max-width-desktop: 1400px;
	--container-max-width-desktop-s: 1100px;
	--container-max-width-laptop-l: 980px;
	--color-white: #fff;
	--color-blue: #7781ff;
	--color-lightBlue: #27caea;
	--color-dark: #212326;
	--color-gray: #797979;
	--color-grayLight: #4b5563;
	--color-gray-background: #f3f3f3;
	--color-gray-rating: #212326;
}

.adaptiveNormalizedContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	max-width: var(--container-max-width-desktop);
}

@media (width <= 1920px) {
	.adaptiveNormalizedContainer {
		max-width: var(--container-max-width-desktop-s);
	}
}

@media (width <= 1440px) {
	.adaptiveNormalizedContainer {
		max-width: var(--container-max-width-laptop-l);
	}
}
